<div class="table-responsive mt-5">
  <h3>Contact List</h3>
  <table class="table table-sm table-bordered table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col-xl">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contactEl of contacts">
          <th class="align-middle" scope="row">{{contactEl.id}}</th>
          <td class="align-middle">{{contactEl.name}}</td>
          <td class="align-middle">{{contactEl.email}}</td>
          <td class="align-middle">{{contactEl.contact_number}}</td>
          <td class="d-flex gap-2 justify-content-center align-middle">
            <button (click)="viewContact(contactEl.id)" class="btn btn-primary">View</button>
            <button (click)="editContact(contactEl.id)" class="btn btn-warning">Edit</button>
            <button (click)="deleteContact(contactEl.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
    </tbody>
  </table>
</div>

