body{
  background-color: #ed4c4c;
}
.container {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background-color 0.5s ease-in-out;
}

.container:hover{
  background-color: #e8e8e8;
}

.container h1 {
  font-size: 180px;
  font-weight: bold;
  color: #ff0000;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container h2 {
  font-size: 32px;
  margin: 20px 0;
  color: #555;
}

.container p {
  margin: 12px 0;
  color: #777;
}

